
@import url('http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:700|PT+Serif:400,700,400italic');

/* Primary Styles */
html,
button,
input,
select,
textarea {
  color: #2f3738;
}

html {
  font-family: 'PT Serif',serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

body {
  background-color: #daeaef;
}

a:link,
a:visited {
  color: #b64926;
}

a:hover,
a:active {
  color: #b9121b;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #9dbdc6;
  border-bottom: 1px solid #9dbdc6;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1 {
  font-family: 'PT Sans Narrow',sans-serif;
  font-weight: 700;
  font-size: 5em;
  /*margin-bottom: 0;*/
}

h1 small {
  font-size: 0.45em;
}

h2 {
  font-family: 'PT Sans',sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #9dbdc6;
  padding-top: 1em;
}

p {
  padding: 1em 0;
}

abbr {
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

section p {
  max-width: 33em;
}

footer {
  padding-left: 10em;
}

footer h3 {
  font-family: 'PT Sans',sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #9dbdc6;
}

.wrapper {
  max-width: 53em;
  margin: 0 auto;
}

.header-hr {
  position: relative;
}

.header-hr:before {
  position: absolute;
  top: -0.5em;
  left: 50%;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'FontAwesome';
  font-size: 1.5em;
  content: '\f108';
  color: #9dbdc6;
  background-color: #daeaef;
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Mobile */

/* Middlin' */
@media only screen and (min-width: 480px) {}

/* Standard Monitor Size */
@media only screen and (min-width: 768px) {

  section p,
  section h2 {
    padding-left: 10em;
  }

}

/* Maximal Width */
@media only screen and (min-width: 1140px) {}

/* Helper classes */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}